main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer{
    width: 300px;
    height: 500px;
    background-color: blue;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
    display: grid;
    place-items: center;
}

h1{
    color: #fff;
}

.contenedorContador{
    width: 70%;
    aspect-ratio: 1 / 1;
    background-color: greenyellow;
    border-radius: 100%;
    font-size: 70px;
    display: grid;
    place-items: center;
}

.seccionAccionadores{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contenedorAccionador{
    display: grid;
    place-items: center;
    background-color: aqua;
}


.btnAgregar, .btnDisminuir{
    width: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.btnAgregar{
    background-color: green;
}

.btnDisminuir{
    background-color: red;
}



